@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Click="@(() => sidebar1Expanded = false)" Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Click="@(() => sidebar1Expanded = false)" Text="Collection" Icon="explore" Path="CollectionGrid" />
            <RadzenPanelMenuItem Click="@(() => sidebar1Expanded = false)" Text="Random" Icon="autorenew" Path="RandomRelease"/>
            <RadzenPanelMenuItem Click="@(() => sidebar1Expanded = false)" Text="Settings" Icon="build" Path="Settings"/>
            <RadzenPanelMenuItem Click="@(() => sidebar1Expanded = false)" Text="Github" Icon="code" Path="https://github.com/BarnacleJones/DiscogsInsight" />
        </RadzenPanelMenu>
        <div class="rz-p-4">
            @* Sidebar additional content *@
        </div>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        @* Anything? *@
    </RadzenFooter>
</RadzenLayout>

@code {
    public static bool sidebar1Expanded = false;
}